.dashboard {
  .oap-num {
    color: #676767;
    font-family: "Raleway", "Open Sans", -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  }

  .child-op {
    margin-right: 24px;
  }
}
