.ps-page {
  .register {
    a {
      color: #06c;
    }
    li {
      margin-bottom: 0;
    }
    .password-reqs {
      .title {
        font-weight: bold;
      }
      ul {
        list-style: none;
      }
    }
  }
}
